<!DOCTYPE html>
<html>
  <%- include('partials/head') %> 
  <body>

    <%- include('partials/header') %>

    <div class="container">
      <h2>Detalles</h2>
    
      <p>Titulo: <%- pelicula.title%></p>
      <p>Rating: <%- pelicula.rating%></p>
      <p>Premios: <%- pelicula.awards%></p>
      <p>Fecha de estreno: <%- pelicula.release_date%></p>
      <p>Duracion: <%- pelicula.length%></p>
        
      <button><a href="/movies/edit/<%- pelicula.id %> ">Editar</a></button>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
