<!DOCTYPE html>
<html>
  <%- include('partials/head') %> 
  <body>

    <%- include('partials/header') %>

    <div class="container">
      <h2>Detalles</h2>

      <p>Titulo: <%- pelicula.title%></p>
      <p>Rating: <%- pelicula.rating%></p>
      <p>Premios: <%- pelicula.awards%></p>
      <p>Fecha de estreno: <%- pelicula.release_date%></p>
      <p>Duracion: <%- pelicula.length%></p>

      <% if (pelicula.genres) { %>
      <p>Genero: <a href="/movies/genre/<%- pelicula.genres.id %>"><%- pelicula.genres.name %></a> </p> 
      <% } %>

      <h3>Actores:</h3>
      <ul>
        <% if (pelicula.actors) { %>
          <% pelicula.actors.forEach(actor => { %>
            <li><a href="/movies/actor/<%- actor.id %>"><%- actor.first_name + ' ' + actor.last_name%></a></li>
          <% }) %>
        <% } %>
      </ul>
      <button><a href="/movies/edit/<%- pelicula.id %> ">Editar</a></button>

      <form action="/movies/delete/<%= pelicula.id %>" method="POST">
        <button type="submit">Eliminar</button>
      </form>
    </div>

    

    <%- include('partials/footer') %>
  </body>
</html>
