<!DOCTYPE html>
<html>
  <%- include('partials/head') %> 
  <body>

    <%- include('partials/header') %>

    <div class="container">
      <h1><%- titlePage %> </h1>
    
      <ul>
        <% peliculas.forEach(pelicula => { %>
          <li><a href="/movies/detail/<%- pelicula.id%>"><%- pelicula.title %></a></li>
        <% }) %>
     </ul>
  
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
